.SearchForm {
    width: 80%;
    text-align: center;
    float: none;
    margin: 0 auto;
}

.SearchForm-input {
    width: 40%;
    margin-bottom: 20px;
    margin-left: 30%;
}

.SearchForm-cards {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: wrap;
    align-content: left;
    float: left;
}

.SearchForm-summary {
    display: flex;
    justify-content: center;
}

.SearchForm-summary-chart {
    width: 20%;
    margin-right: 12%;
    margin-left: 10%;
}